@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lobster&family=Roboto:ital,wght@1,300&display=swap');

:root{
    --primary-color: #F9C349;
    --secondary-color: #FFF;
    --admin-color: #111827;
    --standard-font: 'Roboto';
    --homescreen-title-font: 'Agbalumo';
    --light-grey: #e0dede;
}

.admin-heading{
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 10px;
}

.home_banner{
    background-image: url('/IMG/cover2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
    
}

.home_title{
    color: var(--primary-color);
    font-size: 500%;
    font-family: var(--homescreen-title-font);
    text-align: center;
}

#title-focus{
    font-size: 200%;
    text-align: center;
}

.flash-success {
  padding: 20px;
  background-color: #33a43a;
  color: white;
  margin: 20px 0px;
  border-radius: 4px;
}

.flash-error {
  padding: 20px;
  background-color: rgb(235, 47, 47);
  color: white;
  margin: 20px 0px;
  border-radius: 4px;
}

.flash-remove{
    padding: 20px;
    background-color: #FF5733;
    color: white;
    margin: 20px 0px;
    border-radius: 4px;
}
  
.admin-form-heading{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-div{
    margin-bottom: 15px;
}

.category-banner{
    background-color: var(--primary-color);
}

.category-title{
    color: white;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.category-item-box{
    box-shadow: var(--light-grey) 2px 2px 10px;
    padding: 15px;
    margin: 10px;
    border-radius: 5%;
    width: 280px;
}

.category-item-box:hover{
    cursor: pointer;
}

.category-item-img{
    width: 250px;
    height: 250px;
}

.category-item-name{
    text-align: center;
    font-weight: bold;
}

.category-item-size{
    text-align: center;
}

.category-item-price{
    text-align: center;
}

.item-box{
    display: grid;
    grid-template-columns: 40% auto ;
    padding: 2%;
}

.item-img{
    width: 500px;
    grid-column: 1/2;
    margin: 0 auto;
}

.item-right-side{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 15% 10% 40% 10% 10% auto;
    
    padding: 0 3% 3% 3%;
}

.item-name{
    grid-row: 1/2;
    font-size: 400%;
    font-weight: bold;
}

.item-description{
    grid-row: 3/4;
    font-size: 150%;
    overflow-y: auto;
}

.item-size{
    grid-row: 2/3;

}

.item-price{
    grid-row: 4/5;
    font-weight: bold;

}

.item-btn{
    grid-row: 5/6;
}

.support-page{
    margin: 20px;
}

.admin-show-table{
    border: 1px solid var(--admin-color);
    margin-top: 15px;
}

.admin-show-item{
    border-top: 1px solid var(--admin-color);
}

.admin-show-nav{
    background-color: var(--admin-color);
    color: #FFF;
    padding: 15px;
}

.admin-show-img{
    width: 100px;
}

.admin-inline-items{
    display: inline;
    margin: 10px
}

.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    align-self: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}

th, td {
    border: 1px solid var(--admin-color);
    padding: 10px;
    text-align: left;
}

th {
    color: #FFF;
    background-color: var(--admin-color);
}

tr:nth-child(even) {
    background-color: var(--light-grey);
}

.table-subtitle{
    font-size: 150%;
    font-weight: bold;
    color: #FFF;
}

.table-subtitle-row{
    background-color: var(--primary-color);
}

.user-page{
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 10px;
    margin: 0 5%;
    height: 500px;
}

.user-page-img{
    grid-column: 1/2;
    grid-row: 1/10;
    width: 100%;
    height: 522px;
}

.user-page-info{
    grid-column: 2/3;
    grid-row: 1/10;
    display: grid;
    grid-template-rows: 12% 12% 12% 24% 12% 12% 12% ;
    grid-gap: 10px;
    height: 500px;
}

.user-page-field {
    border: 1px solid #e5e7eb;
    align-items: center;
    background-color: #fff;
    color: #374151;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    overflow: auto;
    max-width: 100svh;
    max-height: 65.85px;
}

.user-page-bigfield {
    border: 1px solid #e5e7eb;
    align-items: center;
    background-color: #fff;
    color: #374151;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    overflow: auto;
    max-width: 100svh;
    height: 100px;
    max-height: 100px;
}

.user-page-btn{
    width: 100%;
    justify-content: center;
}

.stock-page{
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 10px;
    margin: 0 5%;
    height: 500px;
}

.stock-img{
    grid-column: 1/2;
    width: 100%;
    height: 522px;
}

.stock-sizes{
    grid-column: 2/3; 
}

.stock-size{
    margin-bottom: 10px;
}

.stock-form-btn{
    margin-top: 5px;
}

.stock-product-name{
    font-size: 250%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.stock-product-size-sort{
    font-size: 150%;
    padding-top: 0;
    margin-bottom: 20px;
    color: #919191;
}

.arrow {
    border: solid var(--admin-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.faq-category{
    all:revert;
    padding: 10px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    margin-bottom: 5px;
}

.faq-category:nth-child(even){
    background-color: var(--primary-color);
}

.support-box{
    all:revert;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 5px;
}

.faq-answer{
    all:revert;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: var(--light-grey);
}

.news-dropdown{
    display: grid;
    grid-template-columns: 35% auto;
}

.news-img{
    grid-column: 1/2;
    width: 100%;
}

.news-content{
    grid-column: 2/3;
    padding: 10px;
    margin-left: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.news-title{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.delete{
    color: #F00;
}

.dropdown{
    color: #000; 
    border:none; 
    font-size:125%; 
    background-image: none;
}

.dropdown::after{
    display: none;
}

.cart-box{
    border: 1px solid var(--admin-color);
    border-radius: 5px;
    background-color: var(--light-grey);
    padding: 5px;
    margin-right: 80px;
    height: 500px;
    overflow-y: auto;
}

.cart-item-box{
    box-shadow: var(--light-grey) 2px 2px 10px;
    border-radius: 5px;
    background-color: #FFF;
    padding: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 5% auto 25% 20% 10% 5%;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.cart-item-box:first-child {
    margin-top: 0;
}

.cart-item-img{
    grid-column: 1/2;
}

.cart-item-name{
    grid-column: 2/3;
    font-weight: bold;
}

.cart-item-size{
    grid-column: 3/4;
}

.cart-item-quantity{
    grid-column: 4/5;
}

.cart-item-price{
    grid-column: 5/6;
}

.cart-remove{
    grid-column: 6/7;
}

.trashcan {
    width: 20px;
    height: 20px;
    
    .trashcan-open {
      display: none;
    }
    
    &:hover {
      .trashcan-open {
        display: inline;
        fill: rgba(255, 0, 0, 0.915);
      }
      .trashcan-closed {
        display: none;
      }
    }
    
}

.flex-container {
    display: flex;
    
}

.checkout-box {
    margin: 0 80px 0 auto;
    width: 400px;
    height: 250px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--light-grey);
    color: #000;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.cart-delivery-title{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-row: 2/3;
}

.cart-delivery{
    grid-row: 3/4;
}

.cart-checkout-title{
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-row: 1/2;
    text-align: center;

}

.cart-total{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    grid-row: 4/5;
    padding-top: 15px;
}

.cart-checkout{
    margin-top: 10px;
    text-align: center;
    background-color: var(--primary-color);
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    color: #FFF;
    padding: 5px;
    width: 100%;
    height: 35px;
    font-weight: bold;
    grid-row: 5/6;
}

.not-clickable {
    pointer-events: none;
    color: #ccc; /* Optional: make it look disabled */
}

.empty{
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline;
}

.required{
    color: #F00;
    font-size: 120%;
}

.ordered-title{
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.ordered-notice{
    font-size: 125%;
    margin-bottom: 20px;
    padding-bottom: 0;
    text-align: center;
}

.ordered-order{
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ordered-box{
    box-shadow: var(--light-grey) 2px 2px 10px;
    width: 500px;
    height: 220px;
    display: grid;
    grid-template-columns: 40% auto;
    padding: 10px;
    margin-bottom: 10px;
}

.ordered-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ordered-info{
    grid-column: 2/3;
    padding: 10px;
}

.ordered-name{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.order-info-box{
    box-shadow: var(--light-grey) 2px 2px 10px;
    width: 500px;
    height: 150px;
    padding: 10px;
    grid-column: 2/3;
}

.ordered-page{
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 10px;
    margin: 0 5%;
    height: 500px;
}

.ordered-left{
    grid-column: 1/2;
}

.bold{
    font-weight: bold;
}

.about-subtitle{
    font-size: 125%;
    font-weight: bold;
}

.link{
    color: #3366CC;
}

.underline{
    text-decoration: underline;
}

.centered{
    text-align: center;
}

.h2{
    font-size: 400%;
    font-weight: bold;
}

